.gallary {
    background: var(--pink);
    font-size: 1.4rem;
    padding: 20px;
    height: 100vh;
}

.gallary-container {
  max-width: var(--maxWidthContainer);
  margin: auto;
  padding: 0 20px 0 20px;
}

@media (max-width: 900px) {
  .gallary {
    font-size: 1.4rem;
}}

@media (max-width: 400px) {
  .gallary {
    font-size: 1rem;
}}
    